* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right, #d47eff, #f7c9ff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login {
    width: 90%;
    max-width: 1100px;
    background-color: #fff;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.2);
}

.box {
    flex: 1;
    padding: 40px;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login img {
    width: 500px;
}

.container {
    flex: 1;
    background: #f7c9ff;
    border-radius: 0;
    padding: 50px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 25px;
    color: #6a0dad;
}

.input-box {
    width: 100%;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    outline: none;
    background: #fff;
    font-size: 15px;
    color: #333;
}

.input-box input::placeholder {
    color: #888;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 15px 0;
    color: #333;
}

.remember-forgot label {
    display: flex;
    align-items: center;
}

.remember-forgot input {
    margin-right: 6px;
}

.remember-forgot a {
    text-decoration: none;
    color: #6a0dad;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    background: #6a0dad;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.btn a{
    text-decoration:none;
    color:white;
}
.btn:hover {
    background: #4a0072;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.register-link p a {
    text-decoration: none;
    color: #6a0dad;
    font-weight: bold;
}

.register-link p a:hover {
    text-decoration: underline;
}
