*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

a{
    color: black;
    font-weight: 550;
    text-decoration: none;
}

header{
    height: 100px;
    background-color: #806BDC;
    text-align: center;
}

.NavBar{
    padding-top: 35px;
}

#navbar-title{
    color: white;
    font-size: 30px;
}
#navbar-title:hover{
    color:yellow;
}
.Items{
    padding-top: 15px;
    padding-bottom: 15px;
}

#item-table{
    width: 100%;
    text-align: center;
}

.Item-img{
    height: 100px;
}

.Item-tag{
    font-size:20px;
}

.Item-tag:hover{
    color: blue;
}

.Shopping-container{
    background-color: lightgrey;
    text-align: center;
    padding-bottom: 30px;
}

#shopping-time-img{
    margin-top: 30px;
    width: 90vw;
    height: 60vh;
}

.Sales-table{
    width: 90vw;
    margin: auto;
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 12px;
}

.Sales-table-head{
    font-size:30px;
    background-color: #806BDC;
}

.Information{
    width: 92vw;
    margin: 20px;
    font-size: 11px;
    color: #878787;
    list-style-position: inside;
}
footer{
    height: 50px;
    padding-top: 28px;
    background-color: black;
    color: white;
    text-align: center;
}